source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget AvalonEdit
nuget CodingConnected.Topology
nuget CommunityToolkit.Mvvm
nuget DocumentFormat.OpenXml
nuget DotNetProjects.Extended.Wpf.Toolkit
nuget gong-wpf-dragdrop
nuget Gu.Wpf.DataGrid2D
nuget InputSimulator
nuget NSubstitute
nuget NUnit
nuget NewtonSoft.Json
nuget MdXaml
nuget Microsoft.Xaml.Behaviors.Wpf
nuget NUnit3TestAdapter
nuget System.Drawing.Common
