source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget Extended.Wpf.Toolkit
nuget CommunityToolkit.Mvvm
nuget NSubstitute
nuget NUnit
nuget Gu.Wpf.DataGrid2D
nuget gong-wpf-dragdrop
nuget DocumentFormat.OpenXml
nuget InputSimulator
nuget NewtonSoft.Json
nuget AvalonEdit
nuget Markdown.XAML
nuget CodingConnected.Topology
nuget AvalonEdit
nuget GitVersionTask
nuget NUnit3TestAdapter
nuget Microsoft.Xaml.Behaviors.Wpf
nuget System.Drawing.Common
