<#@ template hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ output extension=".cs" #>
using System;
namespace TLCGen.Dialogs
{
    public static class BuildConstants
    {
        public static DateTime CompilationTimestampLocal => new DateTime(<# Write(DateTime.UtcNow.Ticks.ToString()); #>L, DateTimeKind.Local);
    }
}
